$text-primary: #87879D;
$text-secondary: #28283D;
$text-light: #FAFAFA;
$text-info:  #4D96A9;

$bg-primary: #FAFAFA;
$bg-secondary: #4D96A9;

$bg-button-primary: #4D96A9;
$bg-button-secondary: #855FB1;

$emphasize-primary: #8FE3F9;
$emphasize-secondary: #D9B8FF;